<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>MINDWORKS</title>

</head>
<body>
    <h1 id="header">
        Forgot your password?
    </h1>
    {% block content %}
    {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
    {% endblock %}
</body>
</html>