{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindworks</title>
    <link href="{% static 'game_style.css' %}" rel="stylesheet" type="text/css" />
     <script src="{% static 'game_script.js' %}"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

    <h1> Create a Level </h1>


    <input type="button" id="button" value="Choose grid size" onclick="boxclick(this);" />

    <input type="button" id="button" value="Create Pattern 1" onclick="makepattern(this);" /> 
    
    <div id="container">
    </div>

</body>
</html>