{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/Users/cassi/Desktop/myGC2/GC2-master/static/css/gamestyle.css" media="screen"/>
        <script type="text/javascript" src="/Users/cassi/Desktop/myGC2/GC2-master/static/js/gameinfo.js"></script>
    </head>
<audio id="soundbuttonGre" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></audio>
<audio id="soundbuttonRed" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></audio>
<audio id="soundbuttonYel" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></audio>
<audio id="soundbuttonBlu" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></audio>
<audio id="soundbuttonWrong" src="http://www.freesound.org/data/previews/331/331912_3248244-lq.mp3"></audio>

<div class="gameContainer noSelect">
  <div id="buttonGre" class="fourButton"></div>
  <div id="buttonRed" class="fourButton"></div>
  <div id="buttonYel" class="fourButton"></div>
  <div id="buttonBlu" class="fourButton"></div>
  <div id="center">
    <div id="textTitle">Simon</div>
    <div id="countBox">
      <div id="countDisplay">
        <div id="displayText">
          --
        </div>
      </div>
      <div id="countText">Count</div>
    </div>
    <div id="startBox">
      <div id="startButton"></div>
      <div id="startText">Start</div>
    </div>
    <div id="strictBox">
      <div id="strictButton""></div>
      <div id="strictText">Strict</div>
    </div>
    <div id="powerBox">
      <div id="onText">ON</div>
      <div id="powerSwitch">
        <div id="buttonOn"></div
        ><div id="buttonOff"></div
        ></div>
      <div id="offText">OFF</div>
    </div>
  </div>
</div>
</html> 