<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MINDWORKS</title>
</head>
<body>
    <h1 id="header">
        Forgot your password?
    </h1>
    {% autoescape off %}
    To initiate the password reset process for your {{ user.get_username }} Mindworks Account,
    click the link below:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.

    Sincerely,
    The Mindworks Team
    {% endautoescape %}
    </body>
</html>