{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link href="{% static 'profile.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
    
        <div class="name ">
            Genesis
        </div>

        <div class="ava">
            <img src="https://pmctvline2.files.wordpress.com/2019/12/gabrielle-union-americas-got-talent.jpg?w=620" alt="avatar" style=""/>
        </div>    

    </header>
    <div class="content">
        <aside class="info ">
            <div class="box">
                <p class="title">
                    <i class="fa fa-info-circle"></i>Contact
                </p>


                <p class="padd-top">
                   
                <p>
                    <i  class="fa fa-envelope"></i>
                    gdsmothers@gmail.com
                </p>

            </div> 

            <div class="box">

                <p class="title" >
                    <i  class="fa fa-asterisk"></i>
                    Skills 
                </p>

                <p class="padd-top">Memorization</p>
                <div class="skill">

                    <div class="skill-right r1"></div>
                </div>

                <p>Attention</p>
                <div class="skill">

                    <div class="skill-right r2"></div>
                </div>

                <p>Problem Solving</p>
                <div class="skill">

                    <div class="skill-right r3"></div>
                </div>
            </div>  

        </aside>


        <section class="main">
            <div class="box">
                <p class="title">
                    <i class="fa fa-graduation-cap"></i>
                    About Me
                </p>
                <p class="padd-top">
                    Genesis Smothers is a Computer Science major from Houston, Texas by way of Louisiana. As a future Computer Scientist, her interests include, but are not limited to: Cyber Security, Artificial Intelligence and Machine Learning. Helping people by preventing attacks in this all-consuming tech world is a future career that she is excited to be a part of. Learning the ins and outs of software, correcting errors, and hacking technology has continuously piqued her interest.
                </p>
            </div>  
            </section>
    </div>
    <footer>    </footer>
</body>
</html>