<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>MINDWORKS</title>
    <style>
        /*body {
            background-color: #01321c;
            text-align: center;
            font-size: 22px;
        }

        #header {
            color: yellow;
        }

        form {
            text-align: center;
            color: #66ff99;
        }

        #button {
        }*/
    </style>
</head>
<body>
    <h1 id="header">
        SIGN UP
    </h1>
    <!-- form for login -->
    <form action="/postsignup/" method="post" >
        {% csrf_token %}
        Name:
        <input type="text" name="name" placeholder="Name" id="text_input" class="form-control is-valid" required />
        <br />
        New Email:
        <input type="email" name="email" placeholder="email@email.com" id="text_input" class="form-control is-valid" required />
        <br />
        New Password:
        <input type="password" name="password" placeholder="Password" id="button" class="form-control is-valid" required />
        <br />
        <input type="submit" value="Sign Up" id="button" />
        <input type="button" value="Back to Login" onclick="location.pathname= '/'" id="button" />
    </form>
    
    
</body>
</html>